
<header id="header" class="top-bar">
  <div class="row">
    <div class="large-12 columns">
	  <ul id="utility-nav" class="inline-list right">
  	    <% if user_signed_in? %>  
	      <li>
	        <%= link_to current_user.name, '#', 'data-dropdown' => 'user_drop', 'data-options' => 'is_hover:true' %>
	        <ul id='user_drop' class='f-dropdown' data-dropdown-content> 	
		      <li><%= link_to "Edit profile", "#" %></li>
		  	  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>	
	        </ul>
	      </li>
	    <% else %>
	      <li> <%= button_small('login')%></li>
	      <li> <%= button_small('help')%></li>
 	    <% end %>
 	    <li class="has-form">
          <div class="row collapse">
            <div class="small-8  columns">
              <input type="text" placeholder="microchip lookup">
            </div>
            <div class="small-3 end columns">
              <a href="#" class="alert button expand">Go</a>
            </div>
          </div>
        </li>
 	  </ul>
 	  
 	  <h3 class="logo_header"><%= link_to dog_facts_logo, root_path %></h3>
    </div>
  </div>
</header>



